.results-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
  }

  .results__total-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.4em;
  }
  
  .results-info h3 {
    margin-bottom: 10px;
  }

  .results__map-ul {
    display: flex;
    flex-direction: column;
  }  
  .results__ul-div {
    width: 100%;
    height: 10em;
    margin-bottom: 0.8em;
  }
  .results__navigation {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(182, 215, 240);
  }
  .prev-button, .next-button {
    background-color: #2e2c4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.4em 0.8em;
    transition: background-color 0.3s;
  }
  
  .prev-button:hover, .next-button:hover {
    background-color: #005f78;
  }
  
  .prev-button, .next-button {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    margin: 0 10px;
  }
  
  .results__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    overflow-y: auto;
    overflow-x: auto;
    gap: 0.5em;
    z-index: 100;
    background-color: rgb(182, 215, 240);
    scroll-behavior: smooth;
    right: 0;
    bottom:  100;
  }
  .results__map {
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .results__ul::-webkit-scrollbar {
    display: none;
  }
  .results-info ul strong {
    color: #333;
  }
  .results__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 14em;
    max-width: 15em;
    height: 8.5em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    transition: transform 0.3s, max-height 1.5s ease;
    cursor: pointer;
    z-index: 3;
  }
  
  .results__card:hover {
    transform: translateY(-5px);
    max-height: 19em;
  }
  .results__card:hover > .results__address {
    opacity: 1;
    max-height: 200px;
  }
  .results__name {
    font-size: 0.8rem;
  }
  .results__address {
    opacity: 0;
    max-height: 0;
    font-size: 0.78rem;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
  }
  
  .results__card strong {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #333;
  }
  
  .results__card:hover {
    border-color: #aaa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  .results__card.selected {
    background-color: #8d99f6bd;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  }

