.results-info {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
  }
  
  .results-info h3 {
    margin-bottom: 10px;
  }
  
  .results-info ul {
    list-style-type: none;
    padding: 0;
  }
  .results__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 0.5em;
  }
  
  .results-info ul li {
    margin-bottom: 5px;
  }
  
  .results-info ul strong {
    color: #333;
  }
  .results__card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(33.333% - 10px); /* Three cards per row with some gap */
    box-sizing: border-box;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .results__card:hover {
    transform: translateY(-5px);
  }
  
  .results__card strong {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #333;
  }
  
  .results__card:hover {
    border-color: #aaa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  .results__card.selected {
    background-color: #cebee4;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  }